<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pdfscanner.pdf.scanpdf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".BaseClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name_2"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_round_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFScanner"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:label">

        <activity android:name=".ui.ImageToPdfActivity" />

        <activity android:name=".ui.PrivacyActivity" />

        <activity
            android:name=".ui.DocumentActivity"
            android:theme="@style/gray_theme" />

        <activity android:name=".ui.OcrActivity" />

        <activity android:name=".ui.ImageActivity" />

        <activity
            android:name=".ui.QrScanActivity"
            android:theme="@style/Theme.black" />

        <activity android:name=".ui.EditorTwoActivity" />

        <activity android:name=".ui.EditDocumentActivity" />

        <activity android:name=".ui.ImageShowActivity" />

        <activity android:name=".ui.PreviewActivity" />

        <activity android:name=".ui.SignatureActivity" />

        <activity android:name=".ui.EditorActivity" />

        <activity android:name=".ui.EditScanActivity" />

        <activity
            android:name=".ui.SettingActivity"
            android:theme="@style/gray_theme" />

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.PermissionActivity" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/gray_theme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths_provider" />
        </provider>

        <service
            android:name=".service.ImageDataService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_unit_id" />

    </application>

</manifest>